.App {
  text-align: center;
  display: grid;
  place-items: center;

  height: 97vh;
}

/* custom fonts */
@font-face {
  font-family:handjet ;
  src: url(../public/fonts/handjet/Handjet-SemiBold.ttf);
  font-weight: 600;
}


@font-face {
  font-family:handjet ;
  src: url(../public/fonts/handjet/Handjet-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family:handjet ;
  src: url(../public/fonts/handjet/Handjet-Regular.ttf);
  font-weight: normal;
}



@font-face {
  font-family:mada ;
  src: url(../public/fonts/mada/Mada-Regular.ttf);
  font-weight: normal;
}


@font-face {
  font-family:alex ;
  src: url(../public/fonts/alex/Alexandria-Regular.ttf);
  font-weight: normal;
}